header {
    background-color: #2b2b2b;
    color: lightblue;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0em;
}

